requests
python-telegram-bot==12.8 
google-api-python-client>=1.7.11,<1.10.0
google-auth-httplib2>=0.0.4,<0.1.0
google-auth-oauthlib>=0.4.1,<0.10.0
aria2p>=0.9.1,<0.15.0
python-dotenv>=0.14.0
tenacity>=6.2.0
python-magic
beautifulsoup4>=4.9.1,<4.8.2
Pyrogram>=0.18.0,<0.16.10
TgCrypto>=1.2.1,<1.1.10
git+git://github.com/sudoshell/youtube-dl@73400cc#youtube_dl
